
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MegaLayout.cshtml";
}

<script>
    function openAddUserModal() {
        $('#addUserModal').modal('show');
    }
    function toggleSubmit(_Btn, _agree) {
        const submitBtn = $('#' + _Btn);      // Get the button element
        const termsCheckbox = $('#' + _agree); // Get the checkbox element
        submitBtn.prop('disabled', !termsCheckbox.prop('checked'));
    }

</script>
<style>
    .form-label b{
        color:red;
    }
</style>
<div class="container">
    <div class="row align-items-center mb-1">
        <div class="col">
            <h6 class="d-inline-block">REGISTERED USER</h6>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-lg btn-add-user" onclick="openAddUserModal()">Add User</button>
        </div>
    </div>

    <div class="col-sm-12">
        <div style="max-height: 500px; overflow-y: auto;">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblRegisterData">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
   
                <div class="modal-body">

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="strName" class="form-label">Full Name<b>*</b></label>
                            <input type="text" class="form-control" id="strName" name="strName" placeholder="Enter your full name" required>
                        </div>


                        <div class="col-md-6">
                            <label for="strEmail" class="form-label">Email<b>*</b></label>
                            <input type="email" class="form-control" id="strEmail" name="strEmail" placeholder="Enter your email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="numNumber" class="form-label">Mobile<b>*</b></label>
                            <input type="number" class="form-control" id="numNumber" name="numNumber" placeholder="Enter your Phone Number" required>
                        </div>
                        <div class="col-md-12">
                            <label for="strAddress" class="form-label">Address</label>
                            <textarea class="form-control" id="strAddress" name="strAddress" placeholder="Enter your address"></textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="ddlState" class="form-label">State<b>*</b></label>
                            <select class="form-control" id="ddlState" name="ddlState"  required>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ddlCity" class="form-label">City<b>*</b></label>
                            <select class="form-control" id="ddlCity" name="ddlCity" required>
                            </select>
                        </div>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="agree" onchange="toggleSubmit('submitBtn','agree')" >
                        <label class="form-check-label" for="agree">
                            Agree
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Register</button>
                </div>
            
        </div>
    </div>
</div>

