
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MegaLayout.cshtml";
}

<script>
    $(document).ready(function () {
        GetRegisterData();
        StateJson();
        CityJson();
    });
    var data = [];
    function GetRegisterData() {
      $.ajax({
        type: "POST",
        url: '@Url.Action("GetList", "MegaTask")',
        datatype: 'json',
        async: true,
        data: '{}',
          success: function (result) {
              var _html = "";

              if (result.ERROR == "OK") {

                  if (result.COUNT != "0") {

                      data = result.RECORD;
                      for (var i = 0; i < data.length; i++) {
                          _html += "<tr>";
                          _html += "<td>" + data[i].Name + "</td>";
                          _html += "<td>" + data[i].Email + "</td>";
                          _html += "<td>" + data[i].PhoneNumber + "</td>";
                          _html += "<td>" + data[i].Address + "</td>";
                          _html += "<td>" + data[i].StateName + "</td>";
                          _html += "<td>" + data[i].CityName + "</td>";
                          _html += "<td><button class='btn btn-success' onclick='fn_EditDetail(" + data[i].RegID + ")'>EDIT</button><button class='btn btn-warning' onclick='fn_DeleteDetail(" + data[i].RegID + ")'>DELETE</button></td>";
                          _html += "</tr>";

                      }
                  }
                  else {
                      _html += "<tr>";
                      _html += "<td colspan='7' style='color:red;text-align:center'>RECORD NOT FOUND</td>";
                      _html += "<tr>";
                  }
                  $('#tblRegisterData').html(_html);

              }
          },
          fail: function () {

          }
      });
};
    function openAddUserModal() {
        $('#addUserModal').modal('show');
    }
    function toggleSubmit(_Btn, _agree) {
        const submitBtn = $('#' + _Btn);      // Get the button element
        const termsCheckbox = $('#' + _agree); // Get the checkbox element
        submitBtn.prop('disabled', !termsCheckbox.prop('checked'));
    }
    function OnSuccessAdd(result) {
        if (result.ERROR == "OK") {
            alert(result.MESSAGE);

            $('#frmAdd')[0].reset();
            $('#addUserModal').modal('hide');

            GetRegisterData();
        }
        else {
            alert(result.MESSAGE);
            return false;
        }
    }

    var STATEDATA = [];
    function StateJson() {
          $.ajax({
            type: "POST",
            url: '@Url.Action("GetStateDetail", "MegaTask")',
            datatype: 'json',
            async: true,
            data: '{}',
              success: function (result) {
                  if (result.ERROR == "OK") {
                      if (result.COUNT != "0") {
                          STATEDATA = result.RECORD;
                          var _Statehtml = "";
                          _Statehtml += "<option value=''>Select State</option>"
                          for (var i = 0; i < STATEDATA.length; i++) {

                              _Statehtml += "<option value='" + STATEDATA[i].StateID + "'>" + STATEDATA[i].StateName + "</option>";
                          }
                          $('#ddlState').html(_Statehtml);
                          $('#ddlStateE').html(_Statehtml);
                      }
                  }
              },
              fail: function () {

              }
          });
    };

     var CITYDATA = [];
     function CityJson() {
           $.ajax({
             type: "POST",
             url: '@Url.Action("GetCityDetail", "MegaTask")',
             datatype: 'json',
             async: true,
             data: '{}',
               success: function (result) {
                   if (result.ERROR == "OK") {
                       if (result.COUNT != "0") {
                           CITYDATA = result.RECORD;
                       }
                   }               },
               fail: function () {

               }
           });
     };

    function GetCityAgainstState(_state,_city) {
        var State = $('#' + _state).val();
        if (State == "") {
           alert('Please select state.')
            return false;
        }
        var cityHtml = "<option value=''>Select City</option>";
        for (var i = 0; i < CITYDATA.length; i++) {
            if (CITYDATA[i].StateID == State) {
                cityHtml += "<option value='" + CITYDATA[i].CityID + "'>" + CITYDATA[i].CityName +"</option>";
            }
        }
        $('#' + _city).html(cityHtml);
    }
    function fn_EditDetail(intRegID) {
        let recordFound = false;
        for (var i = 0; i < data.length; i++) {
            if (data[i].RegID == intRegID) {
                $('#ddlStateE').val(data[i].StateID);

                $('#hdRegID').val(data[i].RegID);
                $('#strNameE').val(data[i].Name);
                $('#strEmailE').val(data[i].Email);
                $('#numNumberE').val(data[i].PhoneNumber);
                $('#strAddressE').val(data[i].Address);
                GetCityAgainstState('ddlStateE', 'ddlCityE');
                $('#ddlCityE').val(data[i].CityID);
                recordFound = true;
                break;
            }

        }
        if (!recordFound) {
            alert("Record not found");
        } else {
            $('#UpdateUserModal').modal('show');
        }
    }

    function OnSuccessUpdate(result) {
        if (result.ERROR == "OK") {
            alert(result.MESSAGE);
            $('#frmUpdate')[0].reset();
            $('#UpdateUserModal').modal('hide');
            GetRegisterData();

        }
        else {
            alert(result.MESSAGE);
            return false;
        }
    }
    function fn_DeleteDetail(_regID) {
        if (_regID !== "") {
            let isConfirmed = confirm('Are you sure you want to delete this record?');

            if (isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteDetail", "MegaTask")',
                    data: { regID: _regID },
                    success: function (response) {
                        if (response.ERROR === "OK") {
                            alert("Record deleted successfully.");
                            GetRegisterData();
                        } else {
                            alert("Failed to delete record. Please try again.");
                        }
                    },
                    error: function () {
                        alert("An error occurred while deleting the record.");
                    }
                });
            } else {
                alert("Deletion canceled.");
            }
        }
    }

</script>

<style>
    .form-label b {
        color: red;
    }
</style>

<div class="container">
    <div class="row align-items-center mb-1">
        <div class="col">
            <h6 class="d-inline-block">REGISTERED USER</h6>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-lg btn-add-user" onclick="openAddUserModal()">Add User</button>
        </div>
    </div>

    <div class="col-sm-12">
        <div style="max-height: 500px; overflow-y: auto;">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblRegisterData">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            @using (Ajax.BeginForm("AddDetail", "MegaTask", null, new AjaxOptions
            {
                OnSuccess = "OnSuccessAdd",
                OnFailure = "OnSuccessAdd",
                LoadingElementId = "loading"
            }, new { @class = "", @id = "frmAdd", @name = "frmAdd" }))
            {
                <div class="modal-body">

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="strName" class="form-label">Full Name<b>*</b></label>
                            <input type="text" class="form-control" id="strName" name="strName" placeholder="Enter your full name" required>
                        </div>


                        <div class="col-md-6">
                            <label for="strEmail" class="form-label">Email<b>*</b></label>
                            <input type="email" class="form-control" id="strEmail" name="strEmail" placeholder="Enter your email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="numNumber" class="form-label">Mobile<b>*</b></label>
                            <input type="number" class="form-control" id="numNumber" name="numNumber" placeholder="Enter your Phone Number" required>
                        </div>
                        <div class="col-md-12">
                            <label for="strAddress" class="form-label">Address</label>
                            <textarea class="form-control" id="strAddress" name="strAddress" placeholder="Enter your address"></textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="ddlState" class="form-label">State<b>*</b></label>
                            <select class="form-control" id="ddlState" name="ddlState" onchange="GetCityAgainstState('ddlState','ddlCity')" required>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ddlCity" class="form-label">City<b>*</b></label>
                            <select class="form-control" id="ddlCity" name="ddlCity" required>
                            </select>
                        </div>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="agree" onchange="toggleSubmit('submitBtn','agree')">
                        <label class="form-check-label" for="agree">
                            Agree
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Register</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateUserModal" tabindex="-1" aria-labelledby="UpdateUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateUserModal">Update User Detail</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            @using (Ajax.BeginForm("UpdateDetail", "MegaTask", null, new AjaxOptions
            {
                OnSuccess = "OnSuccessUpdate",
                OnFailure = "OnSuccessUpdate",
                LoadingElementId = "loading"
            }, new { @class = "", @id = "frmUpdate", @name = "frmUpdate" }))
            {
                <div class="modal-body">

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="strName" class="form-label">Full Name<b>*</b></label>
                            <input type="hidden" id="hdRegID" name="hdRegID" />
                            <input type="text" class="form-control" id="strNameE" name="strNameE" placeholder="Enter your full name" required>
                        </div>


                        <div class="col-md-6">
                            <label for="strEmail" class="form-label">Email<b>*</b></label>
                            <input type="email" class="form-control" id="strEmailE" name="strEmailE" placeholder="Enter your email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="numNumber" class="form-label">Mobile<b>*</b></label>
                            <input type="number" class="form-control" id="numNumberE" name="numNumberE" placeholder="Enter your Phone Number" required>
                        </div>
                        <div class="col-md-12">
                            <label for="strAddress" class="form-label">Address</label>
                            <textarea class="form-control" id="strAddressE" name="strAddressE" placeholder="Enter your address"></textarea>
                        </div>

                        <div class="col-md-6">
                            <label for="ddlState" class="form-label">State<b>*</b></label>
                            <select class="form-control" id="ddlStateE" name="ddlStateE" onchange="GetCityAgainstState('ddlStateE','ddlCityE')" required>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="ddlCity" class="form-label">City<b>*</b></label>
                            <select class="form-control" id="ddlCityE" name="ddlCityE" required>
                            </select>
                        </div>


                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="agreeE" onchange="toggleSubmit('submitBtnE','agreeE')">
                        <label class="form-check-label" for="agreeE">
                            Agree
                        </label>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitBtnE" class="btn btn-primary" disabled>Update</button>
                </div>
            }
        </div>
    </div>
</div>